body {
    margin: 0;
    box-sizing: border-box;
}

.game-field {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.starfield {
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.starfield:last-of-type {
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 100%;
}