html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.invisible {
    visibility: hidden;
}

.game-field {
    position: absolute;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.starfield {
    position: absolute;
    // background-color: blue;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
}

.object {
    position: absolute;
}

.player {
    $playerWidth: 60px;
    $playerHeight: 50px;

    background-color: white;
    width: $playerWidth;
    height: $playerHeight;
    background: url("../img/player-ship.png") no-repeat;
    background-size: $playerWidth $playerHeight;
}

.starfield-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.missle {
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: yellow;
    transform: translateX(-50%);
}

.enemy {
    width: 80px;
    height: 50px;
    background-color: red;
}