html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.invisible {
    visibility: hidden;
}

.game-field {
    position: absolute;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.starfield {
    position: absolute;
    // background-color: blue;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
}

.object {
    position: absolute;
}

.player {
    background-color: white;
    width: 50px;
    height: 50px;
}

.starfield-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.missle {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: yellow;
}